<h1><%= @list.name %></h1>
<%= link_to 'Add movie', new_list_bookmark_path(@list.id), class: "btn btn-primary" %>

<h2><%= link_to "Back to lists", lists_path %>
<% @list.movies.each do |movie| %>
<li><%=  movie.title %></li>
<% end %>
